.genericObjTable {
  height: 100%;
  width: 100%;
}

.genericObjTable .header {
  height: 36px;
}

.genericObjTableContainer .arc-component .arc-button button {
  height: 36px;
}

.genericObjTable > .header-row {
  width: 100%;
}

.genericObjTable tr {
  border: 1px solid #d3dfe6;
}

.genericObjTable tr.body-row.selectedRow {
  border: 4px solid #e69696;
}

.genericObjTable {
  border-bottom: 1px solid #d3dfe6;
  border-collapse: collapse;
}

.genericObjTable th {
  font: 500 14px/16px Roboto;
  color: #586f7a;
  height: 36px;
  background-color: #f5f8fa;
  border-bottom: 1px solid #d3dfe6;
  text-align: left;
}

.genericObjTable th:first-child {
  padding-left: 25px;
}

.genericObjTable td {
  font: 400 14px/16px Roboto;
  color: #46545c;
  height: 36px;
  background-color: white;
}

/* .genericObjTable > .header-row .header-row-cell {
  border: 1px solid darkgray;
  border-collapse: collapse;
  height: 2em;
} */

.genericObjTable > .body {
  width: 100%;
  height: calc(100% - 2em);
}

.genericObjTable > .body .body-row {
  width: 100%;
}

.genericObjTable > .body .body-row .body-row-cell {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2em;
  border-collapse: collapse;
  /* border: 1px solid lightgray; */
  cursor: pointer;
}

.genericObjTable > .body .body-row .body-row-cell .content,
.genericObjTable > .body .body-row .body-row-cell .expandSymbol {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.genericObjTable > .body .body-row .body-row-cell .expandSymbol {
  width: 20px;
}

.genericObjTable > .body .body-row .body-row-cell .minor-name {
  font-weight: 300;
  font-style: italic;
}

.genericObjTable > .body .toggleButton {
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
}

.genericObjTable > .body .toggleButton > span {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.genericObjTable > .body .body-row.second-level .body-row-cell {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2em;
  border-collapse: collapse;
  border: 1px solid lightgray;
  background-color: mediumaquamarine;
}
