.genericObjView {
  height: 100%;
  width: 100%;
}

.genericObjView > .genericObjTable {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}

.genericObjView > .genericObjDetail {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
}
