.genericObjView {
  height: 100%;
  width: 100%;
}

.genericObjView > .genericObjTable {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.genericObjView > .genericObjDetail {
  width: 55%;
  display: inline-block;
  vertical-align: top;
}

.genericObjView > .viewSpacer {
  height: 100%;
  width: 5%;
  display: inline-block;
  vertical-align: top;
}
