.genericObjProperties {
  height: 100%;
}

.genericObjProperties .arc-component {
  width: 100%;
}

.genericObjProperties .arc-component .arc-table {
  width: 100%;
}

.genericObjProperties .propSection {
  margin-top: 20px;
}

.objPropTableTitle {
  color: #586f7a;
  text-decoration: underline;
  margin: 20px 0px;
}

.objPropTableTitle div {
  margin-bottom: 10px;
}
