.genObjDetailContainer {
  height: 100%;
}

.genObjDetailContainer .tileWrapper {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.genObjDetailContainer .arc-toggles button {
  vertical-align: top;
}
