.genObjDetailContainer {
  height: 100%;
}

.genObjDetailContainer .arc-toggles button {
  vertical-align: top;
  width: 120px;
}

.genObjDetailContainer .arc-component {
  float: right;
}

.genObjDetailContainer .toggles {
  height: 36px;
  width: 100%;
}
