.genericObjLayout {
  height: 100%;
  margin-top: 20px;
}

.genericObjLayout {
  border-radius: 0px 0px 2px 2px;
  border-top: 0px;
  border: #1974bf 1px solid;
  background-color: white;
}

.genericObjLayout .propSection {
  margin-top: 20px;
}

.objLayoutTable {
  height: 100%;
  width: 100%;
}

.objLayoutTable > thead {
  width: 100%;
  font-weight: bold;
}

.objLayoutTable > thead td {
  border: 1px solid darkgray;
  border-collapse: collapse;
  height: 2em;
}

.objLayoutTable > thead tr td:first-child {
  width: 40%;
}

.objLayoutTable > tbody {
  width: 100%;
  height: calc(100% - 2em);
}

.objLayoutTable > tbody tr {
  width: 100%;
}

.objLayoutTable > tbody tr td {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2em;
  border-collapse: collapse;
  border: 1px solid lightgray;
  cursor: pointer;
}

.objLayoutTable > tbody tr.second-level td {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2em;
  border-collapse: collapse;
  border: 1px solid lightgray;
  background-color: mediumaquamarine;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
